:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(22, 28%, 21%);
    --clr-primary-2: hsl(22, 28%, 29%);
    --clr-primary-3: hsl(22, 28%, 37%);
    --clr-primary-4: hsl(22, 28%, 45%);
    /* primary/main color */
    --clr-primary-5: hsl(22, 31%, 52%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(22, 31%, 60%);
    --clr-primary-7: hsl(22, 31%, 67%);
    --clr-primary-8: hsl(20, 31%, 74%);
    --clr-primary-9: hsl(22, 31%, 81%);
    --clr-primary-10: hsl(22, 31%, 88%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.3rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --max-width: 1170px;
    --fixed-width: 620px;
  }

  /* ======= GLOBAL STYLES ======*/
*,
::after, ::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--clr-white);
    font-family: "Merriweather, serif";
    line-height: 1.5;
    font-size: 1rem;
    color: var(--clr-grey-1);
}

html {
  scroll-padding-top: 20px;
}

hr {
    border: none;
    border-top: 1.5px solid var(--clr-grey-8);
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
    font-size: 1.2rem;
  }

div.app-container {
    width: 100%;
    height: 100%;
}

/* === GLOBAL CLASSES === */
.page {
  min-height: calc(100vh - 5rem);
  padding: 0 1.5rem;
}

.page-100 {
  min-height: calc(100vh - 5rem);
  padding: 0 1.5rem;
}

.section {
  padding: 3rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.div.container {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}

.underline {
  width: 8.5rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  border-radius: var(--radius);
  display: inline-block;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.btn:hover:before {
  height: 100%;
  z-index: 1;
}

.btn:hover {
  background: var(--clr-primary-4);
  color: var(--clr-primary-1);
}

.about-container {
  background: lightblue;
}

.projects-container {
  background: lightgray;
}

.contact-container {
  background: lightgreen;
}


/* ============== NAVBAR ===========*/
nav.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: top 0.5s ease-in-out;
  border-bottom: 2px solid black;
}

.navbar.sticky {
  top: 20px; 
}

div.logo {
  flex: 1;
}

div.nav-links {
  display: flex;
  flex: 4;
  align-items: center;
  justify-content: end;
}

.nav-links ul {
  display: flex;
}

.nav-links ul a {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 1.5rem;
  cursor: pointer;
}

button {
  display: none;
}

@media only screen and (max-width: 992px) {
  .nav-links ul {
    display: none;
  }
  button {
    display: inline-block;
  }
}

a.active {
  color: red;
}

.icon-btn {
  border: none; outline: none;
  font-size: 1.8rem;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: background 0.5se ease;
}

.icon-btn:hover {
  background: var(--clr-grey-9);
}

/* SIDEBAR*/
.sidebar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 100vh;
  opacity: 1;
  transition: all 0.5s ease;
  overflow: hidden;
}

ul.sidebar-links {
  flex: 1;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul.sidebar-links {
  text-align: center;
}

ul.sidebar-links li a {
  font-size: 1.8rem;
  cursor: pointer;
}

.hidden {
  height: 0;
  opacity: 1;
}

