:root {
    /* dark shades of primary color*/
    --clr-navy-1: #002D62;
    --clr-navy-2: #005;
    --clr-navy-3: #13274F;
    --clr-navy-4: #002244;
    --clr-navy-5: #041E42;
    --clr-navy-6: #1E2952;
    --clr-navy-7: #0C2340;
    --clr-navy-7-rgba: rgba(12,35,64, 0.3);
    --cl-nav: #774177;
    --clr-white: #fff;
    --clr-millenium-blue: #002244;
    --clr-new-blue: rgba(0, 31, 84);
    /* light blue, green & grey - used for headings */
    --clr-light-blue-1: #87CEEB;
    --clr-light-blue-2:#00CCFF;
    --clr-light-blue-3: #1da1f2;
    --clr-light-blue-4: #4169E1;

    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%); /* hover color*/
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%); /* body color*/
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light-1: hsl(360, 71%, 66%);
    --clr-red-light-2: rgb(238, 75, 43);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light-1: hsl(125, 71%, 66%);
    --clr-green-neon: #39FF14;
    --clr-sidebar: rgb(75,0,130);
  

    --clr-black: #222;
    --transition: all 0.7s ease-in-out;
    --spacing: 0.08rem;
    --radius: 0.3rem;
    --shadow: 0 1px 3px rgba(108, 204, 220, 0.12), 0 1px 2px rgba(108, 204, 220, 0.24); /*with grey-8*/
    --max-width: 1300px;
    --fixed-width: 620px;
  }

  /* ======= GLOBAL STYLES ======*/
*,
::after, ::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
  font-size: 100%;
}

body {
    background-color: var(--clr-navy-7);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-grey-8);
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: var(--clr-white);
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 35%;
  border: 1px solid darkgrey;
  transition: background 0.4s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

html {
  scroll-padding-top: 20px;
}

hr {
    border: none;
    border-top: 1.5px solid var(--clr-grey-6);
  }

  h1, h2, h3, h4, h5 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
    font-size: 1.2rem;
  }

  label, input {
    display: block;
  }

  label {
    margin-bottom: 0.5rem;
    letter-spacing: 0.08rem;
  }

/* === GLOBAL CLASSES === */
.page {
  min-height: calc(100vh - 5rem);
  padding: 0 2rem;
}

.page-100 {
  min-height: 100vh;
  padding: 0 2rem;
}

.section {
  padding: 2rem 0;
}

.section__center {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 1.5rem;
  }
}

.underline {
  width: 8.5rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  border-radius: var(--radius);
  display: inline-block;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.btn:hover:before {
  height: 100%;
  z-index: 1;
}

.btn:hover {
  background: var(--clr-primary-4);
  color: var(--clr-primary-1);
}

/* sidebar
.sidebar {
width: 100vw;
  height: calc(100vh - 5rem);
  padding: 3rem;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 8;
  transition: all 0.5s ease;
}

  .open {
    background: var(--clr-sidebar);
    transform: translateX(0%);
    transition: all 0.5s ease;
  }

  .close {
    transform: translateX(100%);
    transition: all 0.5s ease;
  }

  a {
    display: block;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  a:hover {
    letter-spacing: 0.2rem;
  }*/

  /* NAV*/
  
